<header>
<nav class="NavbarLightLoggedIn">
        <img class="image" src="\assets\image 1.jpg">
        <div class="LearnSomethingNewEveryday">Learn something new everyday.</div>
        <div class="BecomeProfessionalsAndReadyToJoinTheWorld">Become professionals and ready to join the world.</div>
  
<div class="Tab"></div>
<div class="Logo">
    <div class="Frame44">
        <div class="Rectangle5399"></div>
        <div class="M">m</div>
    </div>
    <div class="MycourseIo">MyCourse.io</div>
</div>
<div class="Browse">Browse</div>
<div class="BecomeInstructor">Become Instructor</div>
<a class="ShoppingCart" routerLink="/cart">Shopping Cart</a>
<div class="MaskGroup">
    <div class="Tab"></div>
    <img class="User" src="\assets\user.png" />
</div>
</nav>
</header>