<div class="Container">
<div class="Logo">
    <div class="Frame44">
        <div class="Rectangle5399"></div>
        <div class="M">m</div>
    </div>
    <div class="MycourseIo">MyCourse.io</div>
</div>
<a class="Browse" routerLink="/home">Browse</a>
<div class="MaskGroup">
    <div class="Container"></div>
    <img class="GeneralImageSquare" src="\assets\user.png" />    
</div>
<div class="Cart">Shopping Cart</div>

</div>

    <div class="Footer">
        <div class="Container">
        <div class="Logo">
          <div class="Frame44">
            <div class="Rectangle5399"></div>
            <div class="M">m</div>
          </div>
          <div class="MycourseIo">MyCourse.io</div>
        </div>
        <div class="CopyrightMycourseIo2024AllRightsReserved">Copyright © MyCourse.io 2024. All Rights Reserved</div>
        <div class="WebProgramming">Web Programming</div>
        <div class="MobileProgramming">Mobile Programming</div>
        <div class="JavaBeginner">Java Beginner</div>
        <div class="PhpBeginner">PHP Beginner</div>
        <div class="Rectangle5398"></div>
        <div class="AdobeIllustrator">Adobe Illustrator</div>
        <div class="WritingCourse">Writing Course</div>
        <div class="AdobePhotoshop">Adobe Photoshop</div>
        <div class="Photography">Photography</div>
        <div class="DesignLogo">Design Logo</div>
        <div class="VideoMaking">Video Making</div>
      </div>
