.Container {
    width: 100%;
    object-fit: cover;
    height: 60px;
    left: 0px;
    top: 0px;
    position: absolute;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    background-color: rgb(58,75,78);
}

.Logo {
    width: 151.59px;
    height: 43px;
    left: 105px;
    top: 9px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 6.80px;
    display: inline-flex;
}

.Frame44 {
    width: 40px;
    height: 40px;
    position: relative;
    background: #3DCBB1;
    border-radius: 43px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.Rectangle5399 {
    width: 33.59px;
    height: 33.59px;
    background: #3DCBB1;
    border-radius: 16.80px;
}

.M {
    color: white;
    font-size: 38.71px;
    font-family: Gilroy;
    font-weight: 900;
    line-height: 50.80px;
    word-wrap: break-word;
}

.MycourseIo {
    color: white;
    font-size: 17.79px;
    font-family: Gilroy;
    font-weight: 800;
    line-height: 23.34px;
    word-wrap: break-word;
}


.Browse {
    left: 0px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    height: 21px;
    left: 301px;
    top: 20px;
    position: absolute;
    text-decoration: none;
}
.MaskGroup {
    width: 36px;
    height: 36px;
    left: 1284px;
    top: 12px;
    position: absolute;
}

.MaskGroup .Container {
    width: 36px;
    height: 36px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #C4C4C4;
    border-radius: 9999px;
}

.GeneralImageSquare {
    width: 36px;
    height: 36px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: 100px;
}

    .Cart{
        margin-top: 80px;
        margin-left: 150px;
        font-weight: 500;
        font-size: xx-large;
        
    }
  
  .Footer .Container {
    margin-top: 600px;
    width: 100%;
    height: 302px;
    right: 30px;
    position: absolute;
    background: #1B1B1B;
  }
  
  .Footer .Logo {
    width: 151.59px;
    height: 43px;
    left: 105px;
    top: 40px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 6.80px;
    display: inline-flex;
  }
  
  .Footer .Logo .Frame44 {
    width: 43px;
    height: 43px;
    position: relative;
    background: #3DCBB1;
    border-radius: 43px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .Footer .Logo .Frame44 .Rectangle5399 {
    width: 33.59px;
    height: 33.59px;
    background: #3DCBB1;
    border-radius: 16.80px;
  }
  
  .Footer .Logo .Frame44 .M {
    color: white;
    font-size: 38.71px;
    font-family: Gilroy;
    font-weight: 900;
    line-height: 50.80px;
    word-wrap: break-word;
  }
  
  .Footer .Logo .MycourseIo {
    color: white;
    font-size: 17.79px;
    font-family: Gilroy;
    font-weight: 800;
    line-height: 23.34px;
    word-wrap: break-word;
  }
  
  .Footer .CopyrightMycourseIo2024AllRightsReserved {
    left: 120px;
    top: 257px;
    position: absolute;
    color: rgba(249, 249, 249, 0.60);
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }
  
  .Footer .WebProgramming {
    left: 425px;
    top: 40px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }
  
  .Footer .MobileProgramming {
    left: 425px;
    top: 77px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }
  
  .Footer .JavaBeginner {
    left: 425px;
    top: 114px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }
  
  .Footer .PhpBeginner {
    left: 425px;
    top: 151px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }
  
  .Footer .Rectangle5398 {
    width: 1200px;
    height: 1px;
    left: 120px;
    top: 232px;
    position: absolute;
    opacity: 0.08;
    background: rgba(249, 249, 249, 0.90);
  }
  
  .Footer .SocialInstagram {
    width: 24px;
    height: 24px;
    left: 1248px;
    top: 256px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  .Footer .SocialInstagram .Union {
    width: 24px;
    height: 24px;
  }
  
  .Footer .SocialFacebook {
    width: 24px;
    height: 24px;
    padding-left: 6px;
    padding-right: 6px;
    left: 1296px;
    top: 256px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  .Footer .SocialFacebook .Vector {
    width: 12px;
    height: 24px;
    background: rgba(249, 249, 249, 0.60);
  }
  
  .Footer .SocialTwitter {
    width: 24px;
    height: 24px;
    padding-top: 2.25px;
    padding-bottom: 2.25px;
    left: 1200px;
    top: 256px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  .Footer .SocialTwitter .Vector {
    width: 24px;
    height: 19.50px;
    background: rgba(249, 249, 249, 0.60);
  }
  
  .Footer .AdobeIllustrator {
    left: 730px;
    top: 40px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }
  
  .Footer .WritingCourse {
    left: 1035px;
    top: 40px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }
  
  .Footer .AdobePhotoshop {
    left: 730px;
    top: 77px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }
  
  .Footer .Photography {
    left: 1035px;
    top: 77px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }
  
  .Footer .DesignLogo {
    left: 730px;
    top: 114px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }

  
  .Footer .VideoMaking {
    left: 1035px;
    top: 114px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
  }