<div class="Container">
<div class="Logo">
    <div class="Frame44">
        <div class="Rectangle5399"></div>
        <div class="M">m</div>
    </div>
    <div class="MycourseIo">MyCourse.io</div>
</div>
<a class="Browse" routerLink="/home">Browse</a>
<div class="MaskGroup">
    <div class="Container"></div>
    <img class="GeneralImageSquare" src="\assets\user.png" />    
</div>
<div class="Cart">Shopping Cart</div>



<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        <div class="list-group-item" *ngFor="let item of cartItems">
          <div class="row">
            <div class="col-6">
              <span>{{ item.name }}</span>
            </div>
            <div class="col-2 text-right">
              <span class="price">{{ '$' + item.price.toFixed(2) }}</span>
            </div>
            <div class="col-1">
              <button (click)="removeItem(item)" class="RemoveBtn">Remove</button>
            </div>
          </div>
        </div>
      </ul>
      <div *ngIf="cartItems.length === 0" class="text-left">
        Your cart is empty.
      </div>
      <div *ngIf="cartItems.length > 0" class="text-right">
        <div class="TotalPrice">Total Price: {{ getTotalPrice() | currency }}</div>
      </div>
    </div>
  </div>
</div>




    <div class="Footer">
        <div class="Container">
        <div class="Logo">
          <div class="Frame44">
            <div class="Rectangle5399"></div>
            <div class="M">m</div>
          </div>
          <div class="MycourseIo">MyCourse.io</div>
        </div>
        <div class="CopyrightMycourseIo2024AllRightsReserved">Copyright © MyCourse.io 2024. All Rights Reserved</div>
        <div class="WebProgramming">Web Programming</div>
        <div class="MobileProgramming">Mobile Programming</div>
        <div class="JavaBeginner">Java Beginner</div>
        <div class="PhpBeginner">PHP Beginner</div>
        <div class="Rectangle5398"></div>
        <div class="AdobeIllustrator">Adobe Illustrator</div>
        <div class="WritingCourse">Writing Course</div>
        <div class="AdobePhotoshop">Adobe Photoshop</div>
        <div class="Photography">Photography</div>
        <div class="DesignLogo">Design Logo</div>
        <div class="VideoMaking">Video Making</div>
      </div>
