
.LearnSomethingNewEveryday{
  width: 794px; 
  left: 330px; 
  top: 270px; 
  position: absolute; 
  text-align: center; 
  color: white; 
  font-size: 48px; 
  font-family: Gilroy; 
  font-weight: 700; 
  line-height: 62px; 
  word-wrap: break-word;
}
.BecomeProfessionalsAndReadyToJoinTheWorld{
  width: 590px; 
  left: 480px; 
  top: 344px; 
  justify-content: center;
  position: absolute; 
  color: rgba(249, 249, 249, 0.90); 
  font-size: 24px; 
  font-family: Gilroy; 
  font-weight: 400; 
  line-height: 36px; 
  word-wrap: break-word;
}

  .SearchColoumn {
      width: 1200px;
      height: 170px;
      position: relative;
    }
    
    .SearchColoumn .Container {
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      position: absolute;
      background: white;
      box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
      border-radius: 23px;
    }
    
    .SearchColoumn .Field {
      width: auto;
      height: 50px;
      position: absolute;
    }
    
    .SearchColoumn .Field .Container {
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      position: absolute;
      background: rgba(249, 249, 249, 0.90);
      border-radius: 3px;
    }
    
    .SearchColoumn .Field .Categories,
    .SearchColoumn .Field .FindCoursesSkillsSoftwareEtc,
    .SearchColoumn .Field .Topic {
      left: 16px;
      top: 13px;
      position: absolute;
      color: rgba(27, 27, 27, 0.60);
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 400;
      line-height: 24px;
      word-wrap: break-word;
    }
    
    .SearchColoumn .WhatDoYouWantToLearn {
      left: 32px;
      top: 32px;
      position: absolute;
      color: black;
      font-size: 20px;
      font-family: Gilroy;
      font-weight: 700;
      line-height: 30px;
      word-wrap: break-word;
    }
    
    .SearchColoumn .PrimaryLargeEnabled {
      width: 179px;
      height: 50px;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 12px;
      padding-bottom: 12px;
      left: 989px;
      top: 78px;
      position: absolute;
      background: #3DCBB1;
      border-radius: 18px;
      overflow: hidden;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .SearchColoumn .PrimaryLargeEnabled .Text {
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      display: inline-flex;
    }
    
    .SearchColoumn .PrimaryLargeEnabled .Text .Search {
      color: white;
      font-size: 17px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 26px;
      word-wrap: break-word;
      margin-top:10px ;
    }
  .image{
      object-fit: fill;
      margin-bottom: 30px;
      width: 100%;
      filter: brightness(50%);
  }

  .SearchColoumn{
      width: 1200px; 
      height: 170px; 
      position: center;
      margin-top: 550px;
      justify-content: center;
      align-items: center;
      place-items: center;
      left: 150px;
  }
  .Field{
      width: 248px;
      height: 50px; 
      left: 445px; 
      top: 78px; 
      position: absolute;
  }
  .Search{
      color: white; 
      font-family: Gilroy;
      font-weight: 700;
      line-height: 26px;
      word-wrap: break-word;
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 50px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      place-items: center;
      position: relative;
      left: 985px;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      text-align: center;
      background: #3DCBB1;
      color: white;
      position: center;
      align-items: center;
      width: 200px;
  }
  .Field .Container{
      width: 248px; 
      height: 50px;
      left: 0px; 
      top: 0px; 
      position: absolute; 
      background: rgba(249, 249, 249, 0.90);
      border-radius: 3px
  }
  .Categories {
      left: 16px; 
      top: 13px; 
      position: absolute; 
      color: rgba(27, 27, 27, 0.60); 
      font-size: 16px; 
      font-family: Gilroy; 
      font-weight: 400; 
      line-height: 24px; 
      word-wrap: break-word;
  }
  .FindCoursesSkillsSoftwareEtc{
      left: 16px; 
      top: 13px; 
      position: absolute; 
      color: rgba(27, 27, 27, 0.60); 
      font-size: 16px; 
      font-family: Gilroy; 
      font-weight: 400; 
      line-height: 24px; 
      word-wrap: break-word;
  }
  .Topic{
      left: 16px; 
      top: 13px; 
      position: absolute; 
      color: rgba(27, 27, 27, 0.60); 
      font-size: 16px; 
      font-family: Gilroy; 
      font-weight: 400; 
      line-height: 24px; 
      word-wrap: break-word;
  }
  .WhatDoYouWantToLearn{
      left: 32px; 
      top: 32px; 
      position: absolute; 
      color: black; 
      font-size: 20px; 
      font-family: Gilroy; 
      font-weight: 700; 
      line-height: 30px; 
      word-wrap: break-word;
  }
  .BrowseOurTopCourses{
      margin-top: 50px;
      color: black; 
      font-size: 25px; 
      font-family: Gilroy; 
      font-weight: 700; 
      line-height: 25px; 
      left: 620px;
      justify-content: center;
      position: absolute; 
      font-family: Gilroy; 
      word-wrap: break-word;
      
  }
  
  .Tab{
      width: 467px; 
      height: 30px; 
      position: relative;
  }
  .Design {
      left: 500px; 
      top: 100px; 
      position: absolute; 
      color: black; 
      font-size: 16px; 
      font-family: Gilroy; 
      font-weight: 400; 
      line-height: 24px; 
      word-wrap: break-word;
      display: inline-block;
      gap: 10px;
  }
  .Photography{
      left: 900px; 
      top: 100px; 
      position: absolute; 
      color: black; 
      font-size: 16px; 
      font-family: Gilroy; 
      font-weight: 400; 
      line-height: 24px; 
      word-wrap: break-word;
      display: inline-block;
      gap: 10px;
  }
  .Developer{
      left: 600px; 
      top: 100px; 
      position: absolute; 
      color: black; 
      font-size: 16px; 
      font-family: Gilroy; 
      font-weight: 400; 
      line-height: 24px; 
      word-wrap: break-word;
      display: inline-block;
      gap: 10px;
  }
  .Business
  {
      left: 700px; 
      top: 100px; 
      position: absolute; 
      color: black; 
      font-size: 16px; 
      font-family: Gilroy; 
      font-weight: 400; 
      line-height: 24px; 
      word-wrap: break-word;
      display: inline-block;
      gap: 10px;
  }
  .Marketing{
      left: 800px; 
      top: 100px; 
      position: absolute; 
      color: black; 
      font-size: 16px; 
      font-family: Gilroy; 
      font-weight: 400; 
      line-height: 24px; 
      word-wrap: break-word;
      display: inline-block;
      gap: 10px;
  }

    

   
    
    .CardPromoSimple {
      width: 1200px;
      height: 184px;
      position: absolute;
      margin-top: 200px;
      left: 140px;
      justify-content: center;
      align-items: center;
      place-items: center;
    }
    
    .Background {
      width: 1200px;
      height: 184px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: #2273D1;
      border-radius: 12px;
    }

    

    
    .Subscribe {
      color: white;
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 700;
      line-height: 21px;
      word-wrap: break-word;
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
      left: 1030px;
      top: 72px;
      position: absolute;
      background: #3DCBB1;
      border-radius: 3px;
      overflow: hidden;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      display: inline-flex;
    }
    
    .Search1 {
      width: 243px;
      height: 41px;
      left: 771px;
      top: 72px;
      position: absolute;
    }
    
    .Container1 {
      width: 243px;
      height: 41px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: rgba(249, 249, 249, 0.30);
      border-radius: 3px;
    }
    
    .EmailAddress {
      left: 12px;
      top: 10px;
      position: absolute;
      color: rgba(249, 249, 249, 0.60);
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 400;
      line-height: 21px;
      word-wrap: break-word;
    }


    .CardOption1 {
      margin-top: 100px;
      margin-left: 0px;
      width: 285px;
      height: 238px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4px;
      display: inline-flex;
    }
    
    .ThumbnailImage {
      width: 285px;
      height: 161px;
      position: relative;

    }
    
    .Thumbnail {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
    }
    
    .Mask {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: #C4C4C4;
      border-radius: 23px;
    }
    
    .Placeholder1 {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
      border-radius: 23px;
    }
    

    .Stlabel {
      width: 47px;
      height: 18px;
      padding: 4px;
      left: 10.50px;
      top: 8px;
      position: absolute;
      background: #3DCBB1;
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .BestSeller {
      color: white;
      font-size: 10px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 10px;
      word-wrap: break-word;
    }
    
    .Ndlabel {
      width: 40px;
      height: 18px;
      padding: 4px;
      left: 66px;
      top: 8px;
      position: absolute;
      background: #A04AE3;
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .Off {
      color: white;
      font-size: 10px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 10px;
      word-wrap: break-word;
    }
    
    .Title {
      width: 285px;
      color: black;
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 900;
      line-height: 21px;
      word-wrap: break-word;
      margin-top: 160px;
      right: 10px;
    }
    
   

    .Price {
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      display: inline-flex;
    }
    
    .PriceAmount {
      color: rgba(27, 27, 27, 0.90);
      font-size: 20px;
      font-family: Gilroy;
      font-weight: 700;
      line-height: 26px;
      word-wrap: break-word;
    }
    
    .OriginalPrice {
      color: rgba(27, 27, 27, 0.60);
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 400;
      text-decoration: line-through;
      line-height: 24px;
      word-wrap: break-word;
    }
    
    .add-to-cart-button {
      margin-bottom: 5px;
      background-color: #FDBE39; 
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    
    .add-to-cart-button:hover {
      background-color: #F7C600;
    }
    
    .text {
      font-size: 16px;
      font-weight: bold;
    }
    


    .CardOption2 {
      margin-top: -50px;
      margin-left: -100px;
      width: 285px;
      height: 238px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4px;
      display: inline-flex;
    }
    
    .ThumbnailImage2 {
      width: 285px;
      height: 161px;
      position: relative;

    }
    
    .Thumbnail2 {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
    }
    
    
    .Placeholder1 {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
      border-radius: 23px;
    }

    
    .Stlabel {
      width: 47px;
      height: 18px;
      padding: 4px;
      left: 10.50px;
      top: 8px;
      position: absolute;
      background: #3DCBB1;
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .BestSeller {
      color: white;
      font-size: 10px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 10px;
      word-wrap: break-word;
    }
    
    .Ndlabel {
      width: 40px;
      height: 18px;
      padding: 4px;
      left: 66px;
      top: 8px;
      position: absolute;
      background: #A04AE3;
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .Off {
      color: white;
      font-size: 10px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 10px;
      word-wrap: break-word;
    }
    
    .Title {
      width: 285px;
      color: black;
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 900;
      line-height: 21px;
      word-wrap: break-word;
      margin-top: 160px;
      right: 10px;
    }
    

    
    .Price {
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      display: inline-flex;
    }
    
    .PriceAmount {
      color: rgba(27, 27, 27, 0.90);
      font-size: 20px;
      font-family: Gilroy;
      font-weight: 700;
      line-height: 26px;
      word-wrap: break-word;
    }
    
    .OriginalPrice {
      color: rgba(27, 27, 27, 0.60);
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 400;
      text-decoration: line-through;
      line-height: 24px;
      word-wrap: break-word;
    }
    
    .add-to-cart-button {
      margin-top: 5px;
      background-color: #FDBE39; 
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .add-to-cart-button:hover {
      background-color: #F7C600;
    }
    
    .text {
      font-size: 16px;
      font-weight: bold;
    }

    .CardOption3 {
      margin-top: 10px;
      margin-left: -100px;
      width: 285px;
      height: 238px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4px;
      display: inline-flex;
    }
    
    .ThumbnailImage3 {
      width: 285px;
      height: 161px;
      position: relative;

    }
    
    .Thumbnail3 {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
    }
    
    
    .Placeholder3 {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
      border-radius: 23px;
    }

    .Stlabel {
      width: 47px;
      height: 18px;
      padding: 4px;
      left: 10.50px;
      top: 8px;
      position: absolute;
      background: #3DCBB1;
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .BestSeller {
      color: white;
      font-size: 10px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 10px;
      word-wrap: break-word;
    }
    
    .Ndlabel {
      width: 40px;
      height: 18px;
      padding: 4px;
      left: 66px;
      top: 8px;
      position: absolute;
      background: #A04AE3;
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .Off {
      color: white;
      font-size: 10px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 10px;
      word-wrap: break-word;
    }
    
    .Title {
      width: 285px;
      color: black;
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 900;
      line-height: 21px;
      word-wrap: break-word;
      margin-top: 160px;
      right: 10px;
    }
    
    

    .Price {
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      display: inline-flex;
    }
    
    .PriceAmount {
      color: rgba(27, 27, 27, 0.90);
      font-size: 20px;
      font-family: Gilroy;
      font-weight: 700;
      line-height: 26px;
      word-wrap: break-word;
    }
    
    .OriginalPrice {
      color: rgba(27, 27, 27, 0.60);
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 400;
      text-decoration: line-through;
      line-height: 24px;
      word-wrap: break-word;
    }
    
    .add-to-cart-button {
      margin-top: 5px;
      background-color: #FDBE39; 
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .add-to-cart-button:hover {
      background-color: #F7C600;
    }
    
    .text {
      font-size: 16px;
      font-weight: bold;
    }

    .CardOption4 {
      margin-top: 0px;
      margin-left: 0px;
      width: 285px;
      height: 238px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4px;
      display: inline-flex;
    }
    
    .ThumbnailImage4 {
      width: 285px;
      height: 161px;
      position: relative;

    }
    
    .Thumbnail4 {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
    }
    
    
    .Placeholder4 {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
      border-radius: 23px;
    }

    
    .Stlabel {
      width: 47px;
      height: 18px;
      padding: 4px;
      left: 10.50px;
      top: 8px;
      position: absolute;
      background: #3DCBB1;
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .BestSeller {
      color: white;
      font-size: 10px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 10px;
      word-wrap: break-word;
    }
    
    .Ndlabel {
      width: 40px;
      height: 18px;
      padding: 4px;
      left: 66px;
      top: 8px;
      position: absolute;
      background: #A04AE3;
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .Off {
      color: white;
      font-size: 10px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 10px;
      word-wrap: break-word;
    }
    
    .Title {
      width: 285px;
      color: black;
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 900;
      line-height: 21px;
      word-wrap: break-word;
      margin-top: 160px;
      right: 10px;
    }
    
    

    
    .Price {
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      display: inline-flex;
    }
    
    .PriceAmount {
      color: rgba(27, 27, 27, 0.90);
      font-size: 20px;
      font-family: Gilroy;
      font-weight: 700;
      line-height: 26px;
      word-wrap: break-word;
    }
    
    .OriginalPrice {
      color: rgba(27, 27, 27, 0.60);
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 400;
      text-decoration: line-through;
      line-height: 24px;
      word-wrap: break-word;
    }
    
    .add-to-cart-button {
      margin-top: 5px;
      background-color: #FDBE39; 
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .add-to-cart-button:hover {
      background-color: #F7C600;
    }
    
    .text {
      font-size: 16px;
      font-weight: bold;
    }
    


    .CardOption5 {
      margin-top: 150px;
      margin-left: -100px;
      width: 285px;
      height: 238px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4px;
      display: inline-flex;
    }
    
    .ThumbnailImage5 {
      width: 285px;
      height: 161px;
      position: relative;

    }
    
    .Thumbnail5 {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
    }
    
    
    .Placeholder5 {
      width: 285px;
      height: 161px;
      left: 0px;
      top: 0px;
      position: absolute;
      border-radius: 23px;
    }

    .Stlabel {
      width: 47px;
      height: 18px;
      padding: 4px;
      left: 10.50px;
      top: 8px;
      position: absolute;
      background: #3DCBB1;
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .BestSeller {
      color: white;
      font-size: 10px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 10px;
      word-wrap: break-word;
    }
    
    .Ndlabel {
      width: 40px;
      height: 18px;
      padding: 4px;
      left: 66px;
      top: 8px;
      position: absolute;
      background: #A04AE3;
      border-radius: 23px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    
    .Off {
      color: white;
      font-size: 10px;
      font-family: Gilroy;
      font-weight: 500;
      line-height: 10px;
      word-wrap: break-word;
    }
    
    .Title {
      width: 285px;
      color: black;
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 900;
      line-height: 21px;
      word-wrap: break-word;
      margin-top: 160px;
      right: 10px;
    }
    
    

    .Price {
      justify-content: flex-start;
      align-items: center;
      gap: 4px;
      display: inline-flex;
    }
    
    .PriceAmount {
      color: rgba(27, 27, 27, 0.90);
      font-size: 20px;
      font-family: Gilroy;
      font-weight: 700;
      line-height: 26px;
      word-wrap: break-word;
    }
    
    .OriginalPrice {
      color: rgba(27, 27, 27, 0.60);
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 400;
      text-decoration: line-through;
      line-height: 24px;
      word-wrap: break-word;
    }
    
    .add-to-cart-button {
      margin-top: 5px;
      background-color: #FDBE39; 
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .add-to-cart-button:hover {
      background-color: #F7C600;
    }
    
    .text {
      font-size: 16px;
      font-weight: bold;
    }
    
      
    

    
