<div class="NavbarLightLoggedIn">
    <div class="hero">
        <div class="Hero" style="width: 1440px; height: 660px; position: relative">
            <img class="image" src="\assets\image 1.jpg">
            <div class="LearnSomethingNewEveryday">Learn something new everyday.</div>
            <div class="BecomeProfessionalsAndReadyToJoinTheWorld">Become professionals and ready to join the world.</div>
          </div>
        <div class="mask"></div>
    </div>
      
    <div class="Container"></div>
    <div class="Logo">
        <div class="Frame44">
            <div class="Rectangle5399"></div>
            <div class="M">m</div>
        </div>
        <div class="MycourseIo">MyCourse.io</div>
    </div>
    <div class="Browse">
        <div class="Browse">Browse</div>
    </div>
    <div class="BecomeInstructor">Become Instructor</div>
    <div class="ShoppingCart24px">
        <img class="IconActionShoppingCart24px" src="https://via.placeholder.com/20x20" />
    </div>
    <div class="NotificationsNone24px">
        <img class="IconSocialNotificationsNone24px" src="https://via.placeholder.com/15x19" />
    </div>
    <div class="MaskGroup">
        <div class="Container"></div>
        <img class="GeneralImageSquare" src="https://via.placeholder.com/36x36" />
    </div>
</div>
<div class="SearchColoumn">
    <div class="Container" >
        <div class="Search">Search</div>

    </div>

    <div class="Field">
      <div class="Container"></div>
      <div class="Categories">Categories</div>
    </div>
    <div class="Field" style="width: 389px; height: 50px; left: 32px; top: 80px; position: absolute">
      <div class="Container" style="width: 389px; height: 50px; left: 0px; top: 0px; position: absolute; background: rgba(249, 249, 249, 0.90); border-radius: 3px"></div>
      <div class="FindCoursesSkillsSoftwareEtc" >Find courses, skills, software, etc</div>
    </div>
    <div class="Field" style="width: 248px; height: 50px; left: 717px; top: 78px; position: absolute">
      <div class="Container" style="width: 248px; height: 50px; left: 0px; top: 0px; position: absolute; background: rgba(249, 249, 249, 0.90); border-radius: 3px"></div>
      <div class="Topic">Topic</div>
    </div>
    <div class="WhatDoYouWantToLearn">What do you want to learn?</div>
  </div>
  <div class="BrowseOurTopCourses">Browse Our Top Courses</div>
  <div class="Tab" >
    <div class="Design">Design</div>
    <div class="Developer">Developer</div>
    <div class="Business" >Business</div>
    <div class="Marketing" >Marketing</div>
    <div class="Photography">Photography</div>
  </div>
  <div class="Card" ></div>

