<div class="NavbarLightLoggedIn">
        <div class="Hero">
            <img class="image" src="\assets\image 1.jpg">
            <div class="LearnSomethingNewEveryday">Learn something new everyday.</div>
            <div class="BecomeProfessionalsAndReadyToJoinTheWorld">Become professionals and ready to join the world.</div>
        <div class="mask"></div>
    </div>
      
    <div class="Container"></div>
    <div class="Logo">
        <div class="Frame44">
            <div class="Rectangle5399"></div>
            <div class="M">m</div>
        </div>
        <div class="MycourseIo">MyCourse.io</div>
    </div>
    <div class="Browse">Browse</div>
    <div class="BecomeInstructor">Become Instructor</div>
    <div class="ShoppingCart">
        <img class="ShoppingCart24px" src="\assets\shopping-cart.png" />
    </div>
    <div class="NotificationsIcon">
        <img class="Notifications" src="\assets\notification.png" />
    </div>
    <div class="MaskGroup">
        <div class="Container"></div>
        <img class="GeneralImageSquare" src="\assets\user.png" />
    </div>
</div>
<div class="SearchColoumn">
    <div class="Container" >
        <div class="Search">Search</div>

    </div>

    <div class="Field">
      <div class="Container"></div>
      <div class="Categories">Categories</div>
    </div>
    <div class="Field" style="width: 389px; height: 50px; left: 32px; top: 80px; position: absolute">
      <div class="Container" style="width: 389px; height: 50px; left: 0px; top: 0px; position: absolute; background: rgba(249, 249, 249, 0.90); border-radius: 3px"></div>
      <div class="FindCoursesSkillsSoftwareEtc" >Find courses, skills, software, etc</div>
    </div>
    <div class="Field" style="width: 248px; height: 50px; left: 717px; top: 78px; position: absolute">
      <div class="Container" style="width: 248px; height: 50px; left: 0px; top: 0px; position: absolute; background: rgba(249, 249, 249, 0.90); border-radius: 3px"></div>
      <div class="Topic">Topic</div>
    </div>
    <div class="WhatDoYouWantToLearn">What do you want to learn?</div>
  </div>
  <div class="BrowseOurTopCourses">Browse Our Top Courses</div>
  <div class="Tab" >
    <div class="Design">Design</div>
    <div class="Developer">Developer</div>
    <div class="Business" >Business</div>
    <div class="Marketing" >Marketing</div>
    <div class="Photography">Photography</div>
  </div>
  
  <div class="CardPromoSimple">
    <div class="Background">
      <h2 style="color: white; margin-top: 60px; margin-left: 100px; font-weight: 300; font-family: gilroy;">Join and get amazing discount</h2 >
      <h4 style="color: rgba(255, 255, 255, 0.60); font-weight: 100; margin-left: 100px;  font-family: gilroy;">With our responsive themes and mobile and desktop apps</h4>
        <div class="Subscribe">Subscribe</div>
    <div class="Search1">
      <div class="Container1"></div>
      <div class="EmailAddress">Email Address</div>
    </div>
  </div>
</div>  


  
  <div class="Footer">
    <div class="Container">
    <div class="Logo">
      <div class="Frame44">
        <div class="Rectangle5399"></div>
        <div class="M">m</div>
      </div>
      <div class="MycourseIo">MyCourse.io</div>
    </div>
    <div class="CopyrightMycourseIo2024AllRightsReserved">Copyright © MyCourse.io 2024. All Rights Reserved</div>
    <div class="WebProgramming">Web Programming</div>
    <div class="MobileProgramming">Mobile Programming</div>
    <div class="JavaBeginner">Java Beginner</div>
    <div class="PhpBeginner">PHP Beginner</div>
    <div class="Rectangle5398"></div>
    <div class="AdobeIllustrator">Adobe Illustrator</div>
    <div class="WritingCourse">Writing Course</div>
    <div class="AdobePhotoshop">Adobe Photoshop</div>
    <div class="Photography">Photography</div>
    <div class="DesignLogo">Design Logo</div>
    <div class="VideoMaking">Video Making</div>
  </div>
