<app-header></app-header>

<div class="SearchColoumn">
    <div class="Container" >
        <div class="Search">Search</div>
    </div>


    
    <div class="Field">
      <div class="Container"></div>
      <div class="Categories">Categories</div>
    </div>
    <div class="Field" style="width: 389px; height: 50px; left: 32px; top: 80px; position: absolute">
      <div class="Container" style="width: 389px; height: 50px; left: 0px; top: 0px; position: absolute; background: rgba(249, 249, 249, 0.90); border-radius: 3px"></div>
      <div class="FindCoursesSkillsSoftwareEtc" >Find courses, skills, software, etc</div>
    </div>
    <div class="Field" style="width: 248px; height: 50px; left: 717px; top: 78px; position: absolute">
      <div class="Container" style="width: 248px; height: 50px; left: 0px; top: 0px; position: absolute; background: rgba(249, 249, 249, 0.90); border-radius: 3px"></div>
      <div class="Topic">Topic</div>
    </div>
    <div class="WhatDoYouWantToLearn">What do you want to learn?</div>
  </div>
  <div class="BrowseOurTopCourses">Browse Our Top Courses</div>
  <div class="Tab" >
    <div class="Design">Design</div>
    <div class="Developer">Developer</div>
    <div class="Business" >Business</div>
    <div class="Marketing" >Marketing</div>
    <div class="Photography">Photography</div>
  </div>
  
  <div class="CardOption1">
    <div class="ThumbnailImage"></div>
      <h4 [ngStyle]="{color: message != '' ? 'Green' : 'Red'}">{{ message }}</h4>
    </div>
      <div class="CardOption1">
        <div class="Title">{{ products[0].name }}</div>
        <div class="PriceAmount">{{ '$' + products[0].price.toFixed(2) }}</div>           
        <div class="OriginalPrice">$32.90</div>
        <button class="add-to-cart-button" (click)="addToCart(products[0])">
          <span class="text">Add to Cart</span>
        </button>
      </div>
  
      <div class="CardOption2">
        <div class="ThumbnailImage"></div>
          <h4 [ngStyle]="{color: message != '' ? 'Green' : 'Red'}">{{ message }}</h4>
        </div>
          <div class="CardOption2">
            <div class="Title">{{ products[1].name }}</div>
            <div class="PriceAmount">{{ '$' + products[1].price.toFixed(2) }}</div>
            <div class="OriginalPrice">$32.90</div>
            <button class="add-to-cart-button" (click)="addToCart(products[1])">
              <span class="text">Add to Cart</span>
            </button>
          </div>      

          <div class="CardOption3">
            <div class="ThumbnailImage"></div>
              <h4 [ngStyle]="{color: message != '' ? 'Green' : 'Red'}">{{ message }}</h4>
            </div>
              <div class="CardOption3">
                <div class="Title">{{ products[2].name }}</div>
                <div class="PriceAmount">{{ '$' + products[2].price.toFixed(2) }}</div>
                <div class="OriginalPrice">$32.90</div>
                <button class="add-to-cart-button" (click)="addToCart(products[2])">
                  <span class="text">Add to Cart</span>
                </button>
              </div>

              <div class="CardOption4">
                <div class="ThumbnailImage"></div>
                  <h4 [ngStyle]="{color: message != '' ? 'Green' : 'Red'}">{{ message }}</h4>
                </div>
                  <div class="CardOption4">
                    <div class="Title">{{ products[3].name }}</div>
                    <div class="PriceAmount">{{ '$' + products[3].price.toFixed(2) }}</div>
                    <div class="OriginalPrice">$32.90</div>
                    <button class="add-to-cart-button" (click)="addToCart(products[3])">
                      <span class="text">Add to Cart</span>
                    </button>
                  </div>
                  
                  <div class="CardOption5">
                    <div class="ThumbnailImage"></div>
                      <h4 [ngStyle]="{color: message != '' ? 'Green' : 'Red'}">{{ message }}</h4>
                    </div>
                      <div class="CardOption5">
                        <div class="Title">{{ products[4].name }}</div>
                        <div class="PriceAmount">{{ '$' + products[4].price.toFixed(2) }}</div>
                        <div class="OriginalPrice">$32.90</div>
                        <button class="add-to-cart-button" (click)="addToCart(products[4])">
                          <span class="text">Add to Cart</span>
                        </button>
                      </div>      
            
        
    

<app-footer></app-footer>
