<div class="forma">
    <div class="Modal">
        <div class="LoginModal">
            <div class="ModalContainer"></div>
            <div class="Logo">
                <div class="Frame">
                    <div class="LogoText">m</div>
                </div>
                <div class="BrandName">MyCourse.io</div>
            </div>
            <div class="Content">
                <div class="WelcomeText">Join us and get more benefits. We promise to keep your data safely.</div>
                <div class="Form">

                    <div class="Button Social Facebook">Sign up with Facebook</div>
                    <div class="Button Social Google">Sign up with Google</div>
                    <div class="Button Social Apple">Sign up with Apple</div> 
                    <div class="OrYouCan">or you can</div>     
                    <div class="InputField">
                        <input type="email" placeholder="Email Address">
                    </div>
                    <div class="InputField"> 
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="Button Primary">Create Account</div>

                </div>
                <div class="LogInSection">
                    <div class="HaveAccount">Already have an Account?</div>
                    <div class="LogInButton"><a href="/login" class="link-info">Log in</a></div>
                </div>
            </div>
        </div>
  
        <div class="Thumbnail">      
            <div class="Mask">
                <img src="assets/Placeholder 1.jpg" alt="">
            </div>
        </div>
        <div class="Overlay">
            <div class="Gradient"></div>
        </div>
    </div>
  </div>
  
  